<div class="container-fluid game-control">
    <div class="row no-gutters scoreboard-container">
        <div class="col-5 local-team-container team-container justify-content-start">
            <img class="team-pic d-none d-md-block" mat-card-image src="https://d2cwpp38twqe55.cloudfront.net/req/202006161/images/players/caldejo01.jpg">
            <div class="local-team team-name">
                <div class="team-name-text text-center text-md-left">Bar Estrella UCLA Cabra</div>
                <div class="team-status justify-content-center justify-content-md-start">
                    <div class="status-chip" matTooltip="3 tiempos muertos restantes" matTooltipPosition="above" matTooltipClass="chip-tooltip">3 TM</div>
                    <div class="status-chip" matTooltip="4 faltas de equipo" matTooltipPosition="above" matTooltipClass="chip-tooltip">4 FE</div>
                </div>
            </div>
        </div>
        <div class="col-2 score d-flex justify-content-center align-items-center flex-column">
            <div class="quarter">Cuarto {{ currentQuarter }}</div>
            <div class="score-container d-flex align-items-center flex-row">
                <div class="score-value local-score">95</div>
                <div class="score-separator">-</div>
                <div class="score-value visitor-score">53</div>
            </div>
        </div>
        <div class="col-5 visitor-team-container team-container justify-content-end">
            <div class="visitor-team team-name">
                <div class="team-name-text text-center text-md-right">Cansaliebres Generali Seguros</div>
                <div class="team-status justify-content-center justify-content-md-end">
                    <div class="status-chip" matTooltip="4 faltas de equipo" matTooltipPosition="above" matTooltipClass="chip-tooltip">4 FE</div>
                    <div class="status-chip" matTooltip="3 tiempos muertos restantes" matTooltipPosition="above" matTooltipClass="chip-tooltip">3 TM</div>
                </div>
            </div>
            <img class="team-pic d-none d-md-block" mat-card-image src="https://d2cwpp38twqe55.cloudfront.net/req/202006161/images/players/caldejo01.jpg">
        </div>
    </div>
    <div class="row no-gutters game-info">
        <div class="col-12 mat-elevation-z8">
            <div class="game-info-header d-flex justify-content-between align-items-center">
                <span>Información del partido</span>
                <button mat-icon-button class="button-collapse" type="button" data-toggle="collapse" data-target="#gameInfo" aria-expanded="false">
                    <mat-icon class="arrow-down">arrow_drop_down</mat-icon>
                    <mat-icon class="arrow-up">arrow_drop_up</mat-icon>
                </button>
            </div>
            <div class="collapse game-info-content" id="gameInfo">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="game-info-content-cell">
                            <div class="game-info-label">
                                <span>Competición</span>
                            </div>
                            <div class="game-info-text">
                                XXV Liga de Verano de Baloncesto Cabra 2020
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="game-info-content-cell">
                            <div class="game-info-label">
                                <span>Jornada</span>
                            </div>
                            <div class="game-info-text">
                                17
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="game-info-content-cell">
                            <div class="game-info-label">
                                <span>Fecha</span>
                            </div>
                            <div class="game-info-text">
                                18/02/2020 20:00
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="game-info-content-cell">
                            <div class="game-info-label">
                                <span>Localidad</span>
                            </div>
                            <div class="game-info-text">
                                Cabra
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="game-info-content-cell">
                            <div class="game-info-label">
                                <span>Puntuación por cuartos</span>
                            </div>
                            <div class="game-info-text">
                                <table class="score-by-quarter">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">1º</th>
                                        <th scope="col">2º</th>
                                        <th scope="col">3º</th>
                                        <th scope="col">4º</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">Local</th>
                                        <td>10</td>
                                        <td>17</td>
                                        <td>20</td>
                                        <td>18</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Visitante</th>
                                        <td>21</td>
                                        <td>12</td>
                                        <td>16</td>
                                        <td>15</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="game-info-content-cell">
                            <div class="game-info-label">
                                <span>Árbitros</span>
                            </div>
                            <div class="game-info-text d-flex flex-column">
                                <span>Juan Francisco Molina</span>
                                <span>Juan Francisco Molina</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row players-and-events">
        <div class="team col-12 col-sm-6 col-xl-3">
            <div class="game-team-roster game-local-team-roster mat-elevation-z8">
                <div class="game-team-roster-title justify-content-between justify-content-sm-start">
                    <div>Plantilla Bar Estrella UCLA Cabra</div>
                    <button mat-icon-button class="button-collapse d-block d-sm-none" type="button" data-toggle="collapse" data-target="#localRosterTeam" aria-expanded="false">
                        <mat-icon class="arrow-down">arrow_drop_down</mat-icon>
                        <mat-icon class="arrow-up">arrow_drop_up</mat-icon>
                    </button>
                </div>
                <div class="collapse player-list d-sm-block" id="localRosterTeam">
                    <ng-container *ngFor="let element of teamRoster">
                        <div class="player-display">
<!--                            <div class="player-info">-->
                                <img class="player-pic d-none d-md-block" mat-card-image src="https://d2cwpp38twqe55.cloudfront.net/req/202006161/images/players/caldejo01.jpg">
                                <div class="player-number d-flex justify-content-between align-items-center">
                                    <span>#13</span>
                                    <div class="starter-badge" *ngIf="true" matTooltip="Titular" matTooltipPosition="right" matTooltipClass="chip-tooltip">T</div>
                                </div>
                                <div class="player-points" matTooltip="{{ '15' }} puntos" matTooltipPosition="right" matTooltipClass="chip-tooltip">15P</div>
<!--                            </div>-->
                            <div class="player-fouls">
                                <div class="foul-cell">F</div>
                                <div class="foul-cell">F</div>
                                <div class="foul-cell">T</div>
                                <div class="foul-cell">F</div>
                                <div class="foul-cell"></div>
                            </div>
                        </div>
                        <mat-divider [inset]="false"></mat-divider>
                    </ng-container>
                    <div class="trainer-display">
                        <div class="trainer-info">
                            <div class="trainer-name">Entrenador</div>
                        </div>
                        <div class="trainer-fouls">
                            <div class="foul-cell">T</div>
                            <div class="foul-cell"></div>
                            <div class="foul-cell"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team col-12 col-sm-6 col-xl-3 order-xl-2">
            <div class="game-team-roster game-visitor-team-roster mat-elevation-z8">
                <div class="game-team-roster-title justify-content-between justify-content-sm-start">
                    <div>Plantilla Cansaliebres Generali Seguros</div>
                    <button mat-icon-button class="button-collapse d-block d-sm-none" type="button" data-toggle="collapse" data-target="#visitorRosterTeam" aria-expanded="false">
                        <mat-icon class="arrow-down">arrow_drop_down</mat-icon>
                        <mat-icon class="arrow-up">arrow_drop_up</mat-icon>
                    </button>
                </div>
                <div class="collapse player-list d-sm-block" id="visitorRosterTeam">
                    <ng-container *ngFor="let element of teamRoster">
                        <div class="player-display">
<!--                            <div class="player-info">-->
                                <img class="player-pic d-none d-md-block" mat-card-image src="https://d2cwpp38twqe55.cloudfront.net/req/202006161/images/players/caldejo01.jpg">
                                <div class="player-number d-flex align-items-center justify-content-between">
                                    <div class="starter-badge" *ngIf="true" matTooltip="Titular" matTooltipPosition="left" matTooltipClass="chip-tooltip">T</div>
                                    <span>#55</span>
                                </div>
                                <div class="player-points" matTooltip="{{ '15' }} puntos" matTooltipPosition="left" matTooltipClass="chip-tooltip">15P</div>
<!--                            </div>-->
                            <div class="player-fouls">
                                <div class="foul-cell">F</div>
                                <div class="foul-cell">F</div>
                                <div class="foul-cell">T</div>
                                <div class="foul-cell">F</div>
                                <div class="foul-cell"></div>
                            </div>
                        </div>
                        <mat-divider [inset]="false"></mat-divider>
                    </ng-container>
                    <div class="trainer-display">
                        <div class="trainer-info">
                            <div class="trainer-name">Entrenador</div>
                        </div>
                        <div class="trainer-fouls">
                            <div class="foul-cell">T</div>
                            <div class="foul-cell"></div>
                            <div class="foul-cell"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="events col-12 col-xl-6">
            <div class="event-container mat-elevation-z8">
                <div class="event-container-title text-center">Eventos</div>
                <ng-container *ngFor="let element of teamRoster">
                    <div class="event">
                        <div class="event-text">
                            <div class="event-minute">
                                <div class="minute-text">min</div>
                                <div class="minute-value">36</div>
                            </div>
                            <div class="event-text-container">
                                Canasta 3P equipo local #15
                            </div>
                        </div>
                        <button mat-icon-button class="event-delete" type="button" color="primary">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </div>
                    <mat-divider></mat-divider>
                </ng-container>
            </div>
        </div>
    </div>

    <button class="add-event" mat-fab color="primary" (click)="openedBottomSheet? closeBottomSheet() : openedBottomSheet=true">
        <mat-icon *ngIf="!openedBottomSheet">add</mat-icon>
        <mat-icon *ngIf="openedBottomSheet">close</mat-icon>
    </button>
    <button class="scroll-top" [ngClass]="{'show-scrollTop': windowScrolled}" mat-mini-fab color="accent" (click)="scrollToTop()">
        <mat-icon>expand_less</mat-icon>
    </button>

<div class="row no-gutters" *ngIf="openedBottomSheet || canCloseBottomSheet">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4" >
        <div class="bottom-sheet mat-elevation-z24" *ngIf="openedBottomSheet" [@bottomSheet]>
            <div class="bottomSheet-header d-flex justify-content-between align-items-center">
                <div>Añadir un evento</div>
                <button mat-mini-fab class="close-bottomSheet" color="primary" (click)="closeBottomSheet()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <mat-nav-list>
                <a mat-list-item data-toggle="modal" data-target="#basketModal" (click)="closeBottomSheet()">
                    <span mat-line>Anotar canasta</span>
                </a>
                <a mat-list-item data-toggle="modal" data-target="#freeThrowModal" (click)="closeBottomSheet()">
                    <span mat-line>Anotar tiro libre</span>
                </a>
                <a mat-list-item data-toggle="modal" data-target="#foulModal" (click)="closeBottomSheet()">
                    <span mat-line>Señalar falta</span>
                </a>
                <a mat-list-item data-toggle="modal" data-target="#timeoutModal" (click)="closeBottomSheet()">
                    <span mat-line>Pedir tiempo muerto</span>
                </a>
                <a mat-list-item (click)="goToNextQuarter()">
                    <span mat-line *ngIf="!canFinishGame()">Finalizar cuarto</span>
                    <span mat-line *ngIf="canFinishGame()">Finalizar partido</span>
                </a>
                <a mat-list-item (click)="finishGameWithoutSaving()">
                    <span mat-line>Finalizar partido sin disputar</span>
                </a>
            </mat-nav-list>
        </div>
    </div>
</div>
</div>




<div class="timeout-counter-wrapper d-flex justify-content-center align-items-center" *ngIf="timeoutRemainingSeconds != 0" [@simpleFade]>
    <div class="timeout-counter">
        {{ timeoutRemainingSeconds }}
    </div>
</div>



<div class="modal fade mat-elevation-z24" data-backdrop="static" data-keyboard="false" id="basketModal" tabindex="-1" role="dialog" aria-labelledby="basketModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="basketModalLabel">Anotar canasta</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="basketFormGroup">
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="team">
                            <mat-option value="Bar Estrella UCLA Cabra">Bar Estrella UCLA Cabra</mat-option>
                            <mat-option value="Cansaliebres Generali Seguros">Cansaliebres Generali Seguros</mat-option>
                        </mat-select>
                        <mat-label>Equipo</mat-label>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="player">
                            <mat-option value="15">#15</mat-option>
                        </mat-select>
                        <mat-label>Jugador</mat-label>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="points">
                            <mat-option value="Cansaliebres Generali Seguros">2 puntos</mat-option>
                            <mat-option value="Cansaliebres Generali Seguros">3 puntos</mat-option>
                        </mat-select>
                        <mat-label>Tipo de canasta</mat-label>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="minute">
                            <mat-option *ngFor="let element of possibleMinutes" value="{{element}}"> {{ element }} </mat-option>
                        </mat-select>
                        <mat-label>Minuto</mat-label>
                    </mat-form-field>
                    <div class="required-tip">* Campo obligatorio</div>
                </form>
            </div>
            <div class="modal-footer">
                <button mat-flat-button type="button" class="close-button" data-dismiss="modal" color="accent" (click)="resetForm(basketFormGroup)">Cerrar</button>
                <button mat-flat-button type="button" class="send-button" data-dismiss="modal" color="warn" (click)="annotateBasket()" [disabled]="!basketFormGroup.valid">Enviar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade mat-elevation-z24" data-backdrop="static" data-keyboard="false" id="freeThrowModal" tabindex="-1" role="dialog" aria-labelledby="freeThrowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="freeThrowModalLabel">Anotar tiro libre</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="freeThrowFormGroup">
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="team">
                            <mat-option value="Bar Estrella UCLA Cabra">Bar Estrella UCLA Cabra</mat-option>
                            <mat-option value="Cansaliebres Generali Seguros">Cansaliebres Generali Seguros</mat-option>
                        </mat-select>
                        <mat-label>Equipo</mat-label>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="player">
                            <mat-option value="15">#15</mat-option>
                        </mat-select>
                        <mat-label>Jugador</mat-label>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="in">
                            <mat-option value="Cansaliebres Generali Seguros">Convertido</mat-option>
                            <mat-option value="Cansaliebres Generali Seguros">Fallado</mat-option>
                        </mat-select>
                        <mat-label>Resultado</mat-label>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="minute">
                            <mat-option *ngFor="let element of possibleMinutes" value="{{element}}"> {{ element }} </mat-option>
                        </mat-select>
                        <mat-label>Minuto</mat-label>
                    </mat-form-field>
                    <div class="required-tip">* Campo obligatorio</div>
                </form>
            </div>
            <div class="modal-footer">
                <button mat-flat-button type="button" class="close-button" data-dismiss="modal" color="accent" (click)="resetForm(freeThrowFormGroup)">Cerrar</button>
                <button mat-flat-button type="button" class="send-button" data-dismiss="modal" color="warn" (click)="annotateFreeThrow()" [disabled]="!freeThrowFormGroup.valid">Enviar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade mat-elevation-z24" data-backdrop="static" data-keyboard="false" id="foulModal" tabindex="-1" role="dialog" aria-labelledby="foulModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="foulModalLabel">Señalar falta</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="foulFormGroup">
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="team">
                            <mat-option value="Bar Estrella UCLA Cabra">Bar Estrella UCLA Cabra</mat-option>
                            <mat-option value="Cansaliebres Generali Seguros">Cansaliebres Generali Seguros</mat-option>
                        </mat-select>
                        <mat-label>Equipo</mat-label>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="player">
                            <mat-option value="15">#15</mat-option>
                        </mat-select>
                        <mat-label>Jugador</mat-label>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="foulType">
                            <mat-option value="Cansaliebres Generali Seguros">Falta personal en defensa</mat-option>
                            <mat-option value="Cansaliebres Generali Seguros">Falta en ataque</mat-option>
                            <mat-option value="Cansaliebres Generali Seguros">Falta antideportiva</mat-option>
                            <mat-option value="Cansaliebres Generali Seguros">Falta técnica</mat-option>
                            <mat-option value="Cansaliebres Generali Seguros">Falta descalificante</mat-option>
                        </mat-select>
                        <mat-label>Tipo de falta</mat-label>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="minute">
                            <mat-option *ngFor="let element of possibleMinutes" value="{{element}}"> {{ element }} </mat-option>
                        </mat-select>
                        <mat-label>Minuto</mat-label>
                    </mat-form-field>
                    <div class="required-tip">* Campo obligatorio</div>
                </form>
            </div>
            <div class="modal-footer">
                <button mat-flat-button type="button" class="close-button" data-dismiss="modal" color="accent" (click)="resetForm(foulFormGroup)">Cerrar</button>
                <button mat-flat-button type="button" class="send-button" data-dismiss="modal" color="warn" (click)="callForAFoul()" [disabled]="!foulFormGroup.valid">Enviar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade mat-elevation-z24" data-backdrop="static" data-keyboard="false" id="timeoutModal" tabindex="-1" role="dialog" aria-labelledby="timeoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="timeoutModalLabel">Tiempo muerto</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="timeoutFormGroup">
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="team">
                            <mat-option value="Bar Estrella UCLA Cabra">Bar Estrella UCLA Cabra</mat-option>
                            <mat-option value="Cansaliebres Generali Seguros">Cansaliebres Generali Seguros</mat-option>
                        </mat-select>
                        <mat-label>Equipo</mat-label>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-select required formControlName="minute">
                            <mat-option *ngFor="let element of possibleMinutes" value="{{element}}"> {{ element }} </mat-option>
                        </mat-select>
                        <mat-label>Minuto</mat-label>
                    </mat-form-field>
                    <div class="required-tip">* Campo obligatorio</div>
                </form>
            </div>
            <div class="modal-footer">
                <button mat-flat-button type="button" class="close-button" data-dismiss="modal" color="accent" (click)="resetForm(timeoutFormGroup)">Cerrar</button>
                <button mat-flat-button type="button" class="send-button" data-dismiss="modal" color="warn" (click)="callForTimeout()" [disabled]="!timeoutFormGroup.valid">Enviar</button>
            </div>
        </div>
    </div>
</div>

