<div class="loader-container h-100">
    <div class="loader-row">
        <div class="lottie-animation-container row h-100 align-items-center">
            <lottie-animation-view
                    class="lottie-animation"
                    [options]="lottieConfig"
                    [width]="300"
                    [height]="300"
                    (animCreated)="setAnimation($event)">
            </lottie-animation-view>
        </div>
    </div>
    <div class="loader-row">
        <div class="loader-text" id="inTurnFadingTextG">
            <div id="inTurnFadingTextG_1" class="inTurnFadingTextG">C</div>
            <div id="inTurnFadingTextG_2" class="inTurnFadingTextG">a</div>
            <div id="inTurnFadingTextG_3" class="inTurnFadingTextG">r</div>
            <div id="inTurnFadingTextG_4" class="inTurnFadingTextG">g</div>
            <div id="inTurnFadingTextG_5" class="inTurnFadingTextG">a</div>
            <div id="inTurnFadingTextG_6" class="inTurnFadingTextG">n</div>
            <div id="inTurnFadingTextG_7" class="inTurnFadingTextG">d</div>
            <div id="inTurnFadingTextG_8" class="inTurnFadingTextG">o</div>
            <div id="inTurnFadingTextG_9" class="inTurnFadingTextG">.</div>
            <div id="inTurnFadingTextG_10" class="inTurnFadingTextG">.</div>
            <div id="inTurnFadingTextG_11" class="inTurnFadingTextG">.</div>
        </div>
    </div>
</div>
