@import "src/assets/scss/base";

.playoffs {

    .title {
        .title-container {
            margin: 30px 0 10px 0;
            text-align: center;
        }
        .subtile-container {
            text-align: center;
        }
    }

    .table-container-playoffs {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}

