<div class="playoffs container">
    <div class="row">
        <div class="title col-12">
            <h2 class="title-container">Playoffs</h2>
            <h6 class="subtile-container">Eliminatorias al mejor de {{competition.playoffsFixturesVsSameTeam}} partidos</h6>
        </div>
    </div>
    <div class="row">
        <div class="table-container-playoffs col-12 col-md-10 offset-md-1">
            <app-game-table-collapsible [rounds]="playoffsRounds"></app-game-table-collapsible>
        </div>
    </div>
</div>
