@import "src/assets/scss/base";

.player-details {

    .player-pic {
        height: 120px !important;
        width: 80px !important;
    }

    img.mat-card-image {
        margin: 0;
    }
    .competition-details-content {

    }
}
