<mat-form-field class="table-filter w-100">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)">
</mat-form-field>
<div class="table-border table-responsive shadow">
    <mat-table [dataSource]="dataSource" class="table-responsive game-table">
        <div class="table-shadow">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                <mat-cell class="player-name" *matCellDef="let element">
                    <img mat-card-image [src]="element.avatar || '/assets/images/defaultuser.png'">
                    {{ element.name }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="age">
                <mat-header-cell *matHeaderCellDef>Edad</mat-header-cell>
                <mat-cell class="player-age" *matCellDef="let element">
                    {{ element.age }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="height">
                <mat-header-cell *matHeaderCellDef>Altura (m)</mat-header-cell>
                <mat-cell class="player-height" *matCellDef="let element">
                    {{ element.height }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef>Peso (kg)</mat-header-cell>
                <mat-cell class="player-weight" *matCellDef="let element">
                    {{ element.weight }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nodata">
                <td mat-footer-row *matFooterCellDef [colSpan]="displayedColumns.length"
                    style="text-align: center;">No Data Available</td>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToPlayer(row)"></mat-row>
        </div>
    </mat-table>
    <div class="no-data" *ngIf="!dataSource || dataSource?.filteredData?.length == 0">
        <span>No hay datos para este filtro</span>
    </div>
    <!--    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" [pageSize]="10" [hidden]="!showPaginator"></mat-paginator>-->
</div>
