<div class="calendar container" *ngIf="competition">
    <div class="row">
        <div class="title col-12">
            <h2 class="title-container">Calendario</h2>
        </div>
        <div class="fixture-changer col-12 col-md-10 offset-md-1">
            <div class="fixture-changer-container">
                <button mat-stroked-button class="arrow-icon" (click)="goToPrevFixture()" [disabled]="fixtureNumber==1">
                    <mat-icon class="back-icon">arrow_back</mat-icon>
                </button>
                <div class="fixture-changer-panel">
                    <div class="fixture-text">Jornada</div>
                    <div class="fixture-input-container input-group">
                        <input class="fixture-number" type="number" value="1" min="1" [(ngModel)]="fixtureNumber"
                               max="{{ (competition?.teams?.length - 1) * competition?.leagueFixturesVsSameTeam }}"
                               (ngModelChange)="onFixtureChange($event)">
                    </div>
                    <div class="fixture-text">de</div>
                    <div class="fixture-text">{{maxFixture}}</div>
                </div>
                <button mat-stroked-button class="arrow-icon" (click)="gotoNextFixture()" [disabled]="fixtureNumber==maxFixture">
                    <mat-icon class="forward-icon">arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-container-matchup col-12 col-md-10 offset-md-1">
            <app-game-table [games]="games"></app-game-table>
        </div>
    </div>
</div>
