<div class="playoffs-matchup-table-container w-100">
    <mat-table [dataSource]="dataSource" class="table-responsive playoffs-matchup-table">
        <div class="table-shadow">
            <ng-container matColumnDef="teamAName">
                <mat-cell class="local-team" *matCellDef="let element">
                    {{ element.teamAName }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="gameStatus">
                <mat-cell class="gameStatus" *matCellDef="let element">
                    {{ element.gameStatus }}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="teamBName">
                <mat-cell class="visitor-team" *matCellDef="let element">
                    {{ element.teamBName }}
                </mat-cell>
            </ng-container>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </div>
    </mat-table>
</div>
