<div class="player-details container-fluid" *ngIf="player">
    <div class="details-header-intro row align-items-center">
        <div class="header-name col-12 col-md-7 offset-md-1 col-lg-7 offset-lg-1 order-2 order-md-1 text-md-left text-center">
            <div class="header-name-title">{{player?.name + " " + player?.surname}}</div>
            <div class="header-name-subtitle">
                <span class="underline" *ngIf="player?.team" (click)="goToTeamPage()" matTooltip="Ir a página de equipo {{ player?.team?.name }}">
                    {{player?.team?.name}}
                </span>
                <span *ngIf="!player?.team">
                    {{ 'Sin equipo' }}
                </span>
            </div>
        </div>
        <div class="header-pic col-12 col-md-4 col-lg-4 order-1 order-md-2">
            <img class="player-pic" mat-card-image [src]="player?.avatar || '/assets/images/defaultuser.png'">
        </div>
    </div>

    <div class="details-navbar-links">
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="navbar-toggler-title navbar-toggler"><span>{{ currentTabField?.toLowerCase() }}</span></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-toggler-content collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <ul class="navbar-links nav navbar-nav text-center">
                    <li [class.active]="currentTabField === getPlayerDetailsTabs().info">
                        <a data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item nav-link btn"
                           (click)="openPlayerInfo()">Información</a>
                    </li>
                    <li [class.active]="currentTabField === getPlayerDetailsTabs().competitions">
                        <a data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item nav-link btn"
                           (click)="openCompetitions()">Competiciones</a>
                    </li>
                    <li [class.active]="currentTabField === getPlayerDetailsTabs().stats">
                        <a data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item nav-link btn"
                           (click)="openPlayerStats()">Estadísticas</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="competition-details-content w-100" [ngSwitch]="currentTabField" [@avoidAnimatedTabsFirstEvent]>
        <div *ngSwitchCase="getPlayerDetailsTabs().info" [@animatedTabs]>
            <app-player-info [player]="player"></app-player-info>
        </div>
        <div *ngSwitchCase="getPlayerDetailsTabs().competitions" [@animatedTabs]>
            <app-player-competitions [playerID]="playerID"></app-player-competitions>
        </div>
        <div *ngSwitchCase="getPlayerDetailsTabs().stats" [@animatedTabs]>
            <app-player-stats [playerID]="playerID"></app-player-stats>
        </div>
    </div>
</div>
