@import "src/assets/scss/base";

.timeout-counter-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;

    .timeout-counter {
        position: absolute;
        z-index: 3;
        @include border_radius(50%);
        background-color: $orange;
        color: white;

    }
}
