<mat-nav-list>
    <a href="https://keep.google.com/" mat-list-item (click)="finishGameWithoutSaving($event)">
        <span mat-line>Google Keep</span>
        <span mat-line>Add to a note</span>
    </a>
    <a mat-list-item (click)="callForTimeout($event)">
        <span mat-line>Pedir tiempo muerto</span>
    </a>
    <a mat-list-item (click)="goToNextQuarter($event)">
        <span mat-line>Finalizar cuarto</span>
    </a>
    <a mat-list-item (click)="finishGameWithoutSaving($event)">
        <span mat-line>Finalizar partido sin disputar</span>
    </a>
</mat-nav-list>

<div class="timeout-counter-wrapper" *ngIf="timeoutRemainingSeconds != 0">
    <div class="timeout-counter">
        {{ timeoutRemainingSeconds }}
    </div>
</div>
