@import 'src/assets/scss/base';

.login {
    @extend .center-background-img;
    background-image: url("src/assets/images/background.jpg");

    .login-card {
        .password {
            margin-top: 10px;
        }

        .button-wrapper {
            margin: 30px 0 5px 15px;
        }
    }
}
